# Dependencias
node_modules/
*/node_modules/

# Variables de entorno
.env
*/.env

# Archivos subidos
backend/uploads/*
!backend/uploads/.gitkeep

# Build
frontend/dist/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db